$colors: (
  darkBlack: black,
  lightBlack: #222222,
  success: #28a745,
  light: #f8f9fa,
  grey: #545454,
  lightGrey: #6a6c6d,
  primary: #57b6dd,
  danger: #da3644,
  dark: #343a40,
  secondary: #9d9999,
  white: #ffffff,
  greyDark: #3d3d3d,
  tertiary: #5e5e5e,
  hover: #2b89b0,
  border: #979797,
  lightBorder: #dee1e4,
  darkGrey: #d8d8d8,
  warningalert: #fff3cd,
  warningtext: #856404,
  inputBorder: #ced3d8,
  inputBg: #fffefe,
  inputDisabled: #fafafa,
  grayButton: #ced3d8,
  skyBlue: #28b8e1,
  buttonHover: #32abdd,
  buttonActive: #27a2d5,
  dangerButtonHover: #cd1f2e,
  dangerButtonActive: #b80c1b,
  darkGrayButton: #b0b9bf,
  darkGrayButtonHover: #a6b0b6,
  darkGrayButtonFocus: #99a3a9,
  mediumGrayButtonHover: #e3e3e8,
  mediumGrayButtonFocus: #b6bbc1,
  lightGrayButton: #eeeeef,
  lightGrayButtonFocus: #dfdfe2,
  outlinePrimaryButtonHover: #eaf5f9,
  outlinePrimaryButtonFocus: #d6e9f1,
  notificationBackground: #e23155,
  lightBlue: #eff3f6,
  lightSkyBlue: #edf4fb,
  lightWhite: #f6f6f6,
  lightBlueBg: #bff2ff,
  lightBlueText: #60919d,
  lightBrown: #eae8e3,
  scrollBackground: #c2c2c2,
  dotBg: #767676,
  primaryStatus: #b6edba,
  primaryStatusColor: #2d7632,
  privateStatus: #f4f1bb,
  privateStatusColor: #544109,
  draftStatusColor: #9a3529,
  draftStatus: #ffc6bf,
  pauseStatus: #e9cbf4,
  pauseStatusColor: #753d89,
  archiveStatus: #bfe7ff,
  archiveStatusColor: #2e5267,
  transparentBlackColor: rgba(34, 34, 34, 0.9),
  modalOverlayColor: rgba(34, 34, 34, 0.9),
  inputModal: #eeeff1,
  disableButton: #d7dadd,
  declinedText: #d27063,
  commentBoxBg: #f8fbff,
  orangeColor: #fd7e14,
  indigo: #6610f2,
  timer: #2b2b2b,
  primaryButtonDisabled: #c2dde8,
  boxShadow: rgba(0, 0, 0, 0.15),
  imageBg: rgba(87, 182, 221, 0.75),
  googleButtonColor: #173e67,
  googleButtonBorder: rgba(23, 62, 103, 0.2),
  facebookButtonBg: #3b5998,
  privateGroup: #415cbe,
  lightBlue2: #effbff,
  lightGray2: #d9d9d9,
  light2: #afafaf,
  lightGray3: #b7b2b2,
  commentButtonColor: #538eac,
  privateLabelYellow: #f9c218,
  privateLabelViolet: #c5caff,
  publicWithGreenColor: #4edc58,
  privateLabelDarkYellow: #a6780d,
  timerBg: #d2eeff,
  commentDividerLine: #eeeeee,
);

$font-weights: (
  light: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700,
);

$font-families: (
  regular: 'inter-regular',
  medium: 'inter-medium',
  semiBold: 'inter-semiBold',
  bold: 'inter-bold',
);

$font-sizes: (
  xxxs: 9px,
  xxs: 10px,
  xs: 11px,
  sm: 12px,
  md: 13px,
  lg: 14px,
  xlg: 15px,
  xxlg: 16px,
  fsxl: 17px,
  fs2xl: 18px,
  fs3xl: 20px,
  fs4xl: 21px,
  fs5xl: 24px,
);
